

body{
	background-color: #9DBFFC;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #5F7CB0;
}

.texto{
	align-content: center;
	text-align: center;
	width: 50%;
	margin-left: 25%;
}
.boton
{
	align-content: center;
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

#chartdiv {
  width: 100%;
  height: 500px;
}